
<div class="main-container">
  <h1>Main Page</h1>

  <div
    class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3"
  >
    Example element with utilities
  </div>

  <h3>Tooltip</h3>

  <button
    type="button"
    class="btn btn-outline-secondary mr-2"
    placement="top"
    ngbTooltip="Tooltip on top"
  >
    Tooltip on top
  </button>

  <br/>

  <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>


  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>

  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>

  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>

  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>

  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>

  <p class="muted">
    Placeholder text to demonstrate some
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
      >inline links</a
    >
    with tooltips. This is now just filler, no killer. Content placed here just
    to mimic the presence of
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
      >real text</a
    >. And all that just to give you an idea of how tooltips would look when
    used in real-world situations. So hopefully you've now seen how
    <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
      >these tooltips on links</a
    >
    can work in practice, once you use them on
    <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
      >your own</a
    >
    site or project.
  </p>
</div>
<p class="muted">
  Placeholder text to demonstrate some
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
    >inline links</a
  >
  with tooltips. This is now just filler, no killer. Content placed here just to
  mimic the presence of
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
    >real text</a
  >. And all that just to give you an idea of how tooltips would look when used
  in real-world situations. So hopefully you've now seen how
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
    >these tooltips on links</a
  >
  can work in practice, once you use them on
  <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
    >your own</a
  >
  site or project.
</p>

<p class="muted">
  Placeholder text to demonstrate some
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
    >inline links</a
  >
  with tooltips. This is now just filler, no killer. Content placed here just to
  mimic the presence of
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
    >real text</a
  >. And all that just to give you an idea of how tooltips would look when used
  in real-world situations. So hopefully you've now seen how
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
    >these tooltips on links</a
  >
  can work in practice, once you use them on
  <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
    >your own</a
  >
  site or project.
</p>

<p class="muted">
  Placeholder text to demonstrate some
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
    >inline links</a
  >
  with tooltips. This is now just filler, no killer. Content placed here just to
  mimic the presence of
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
    >real text</a
  >. And all that just to give you an idea of how tooltips would look when used
  in real-world situations. So hopefully you've now seen how
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
    >these tooltips on links</a
  >
  can work in practice, once you use them on
  <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
    >your own</a
  >
  site or project.
</p>

<p class="muted">
  Placeholder text to demonstrate some
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"
    >inline links</a
  >
  with tooltips. This is now just filler, no killer. Content placed here just to
  mimic the presence of
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"
    >real text</a
  >. And all that just to give you an idea of how tooltips would look when used
  in real-world situations. So hopefully you've now seen how
  <a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"
    >these tooltips on links</a
  >
  can work in practice, once you use them on
  <a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"
    >your own</a
  >
  site or project.
</p>
