<header
  class="navbar navbar-expand-md bd-navbar sticky-to shadow-sm p-1 mb-2 bg-body-tertiary rounded"
>
  <!-- bg-body-secondary shadow p-2 mb-2 bg-body-tertiary rounded -->
  <nav
    class="container-xxl bd-gutter flex-wrap flex-lg-wrap"
    aria-label="Main navigation"
  >
    <a
      class="navbar-brand p-0 md-0 me-lg-2"
      href="/"
      aria-label="Home"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-house-fill"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-start">
      <li>
        <span class="dropdown-item-text"
          >{{ "home.messages.language" | i18next }}
          <img
            src="/assets/images/common/{{ language }}.png"
            style="height: 10px"
        /></span>
      </li>
      <li class="" *ngFor="let item of menuAdminList">
        <hr *ngIf="item.title === '-'" class="dropdown-divider" />
        <a
          *ngIf="item.title !== '-'"
          class="dropdown-item"
          (click)="menuAction(item)"
        >
          {{ item.title | i18next }}
          <i *ngIf="item.value === language" class="bi bi-check"></i>
        </a>
      </li>
    </ul>

    <div class="bd-navbar-toggle">
      <button
        class="navbar-toggler p-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#bdNavbar"
        aria-controls="bdNavbar"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-menu-app"></i>

        <span class="d-none fs-6 pe-1">Browse</span>
      </button>
    </div>

    <div
      class="offcanvas-md offcanvas-end flex-grow-1"
      tabindex="-1"
      id="bdNavbar"
      aria-labelledby="bdNavbarOffcanvasLabel"
      data-bs-scroll="true"
    >
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="bdNavbarOffcanvasLabel">
          <a href="#"> {{ "home.title" | i18next }}</a>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          data-bs-target="#bdNavbar"
        ></button>
      </div>

      <div class="offcanvas-body p-4 pt-0 p-md-0 p-lg-0">
        <app-menu-toolbar-items></app-menu-toolbar-items>
      </div>
    </div>
  </nav>
</header>
